extends ../extends/_standard

block prepend head
  - const pageName = "所属タレント"

block append mixin
  mixin talent(unixName, name, nameEn)
    .column.is-4
      a(href=`/talents/${unixName}`)
        .card
          .card-image
            figure.image.is-2by1
              img(src=`/img/${unixName}.png`, alt=name)
          .card-content
            .content.has-text-centered
              p.title #{name}
              p.subtitle #{nameEn}

block prepend article
  -
    let title = "TALENTS"
    let subtitle = "所属タレント"

block append article
  +section
    .columns.is-centered
      +talent("karasu-tatehi", "立飛カラス", "Karasu Tatehi")
      +talent("yuika-sakura", "桜結花", "Yuika Sakura")
