extends _base
block body
  block mixins
    mixin talent(unixName, name, nameEn)
      a.level-item.has-text-centered(href=`/talents/${unixName}`)
        .content.has-text-outline
          p.title #{name}
          p.subtitle #{nameEn}
    mixin video(url)
      .column.is-4
        .card
          .card-image
            figure.image.is-16by9
              iframe.has-ratio(src=url)
  block auroraImg
    - var auroraImg
  header.hero.is-fullheight.is-aurora(style=`background-image: url("${auroraImg}"); background-repeat: no-repeat; background-size: contain; background-position: center top;`)
    .hero-head
      .container
        block auroraHead
          include ../includes/_globalNavbar
    .hero-body.is-align-items-flex-end
      .container
        block auroraBody
          figure.image.is-2by1.is-invisible.is-hidden-tablet
          nav.level.mb-6.is-hidden-mobile
            block talents
          .columns.is-centered
            block videos
    .hero-foot
      .container
        block auroraFoot
          .content
            block notifications
              mixin notification(classList)
                .notification.has-text-centered(class=classList)
                  if block
                    block
  main.section
    .container
      block main
        section
          h1.title.is-1.has-text-centered GALLERY
          .columns.is-multiline.is-centered
            block gallery

